---
build: false
platform: x86

clone_folder: c:\tesseract-ocr-for-php

install:
  - choco install php
  - choco install capture2text
  - choco install composer
  - refreshenv
  - cd c:\tesseract-ocr-for-php
  - composer install

test_script:
  - vendor\bin\phpunit
